<div class="wrapper">
  <h2>Add new job</h2>
  <form class="example-container col" [formGroup]="jobForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" >
      <mat-label>Job number</mat-label>
      <input matInput formControlName="number">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Job title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Number of openings</mat-label>
      <input matInput type="number" formControlName="openings">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Job notes</mat-label>
      <textarea matInput formControlName="note"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Job start date</mat-label>
      <input matInput  [matDatepicker]="picker1" formControlName="start">
      <mat-datepicker-toggle matIconSuffix [for]="picker1">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Job close date</mat-label>
      <input matInput  [matDatepicker]="picker" formControlName="close">
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox formControlName="experience">Experience required</mat-checkbox>
    <div class="control">
      <button mat-raised-button color="primary" type="submit"  [disabled]="jobForm.invalid">Submit</button>
      <button type="button"  mat-raised-button routerLink="/jobs">Cancel</button>
    </div>
  </form>
</div>
