<div class="container">
  <header>
    <h1>Job List</h1>
    <form>
          <input class="form-control" type="text" name="searchText" [(ngModel)]="searchText" />
      <button mat-raised-button color="primary" routerLink="new">Add new job</button>
    </form>
  </header>
  <div class="content">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Number</th>
        <th scope="col">Job title</th>
        <th scope="col">Starting Date</th>
        <th scope="col">Close Date</th>
        <th scope="col">Experienced</th>
        <th scope="col">Total open jobs</th>
        <th scope="col">Job notes</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let job of jobs$  | search:searchText; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{job.job_number}}
        </td>
        <td>
          {{job.job_title}}
        </td>
        <td>
          {{job.job_start_date}}
        </td>
        <td>
          {{job.job_close_date}}
        </td>
        <td>
          {{job.experience_required}}
        </td>
        <td>
          {{job.number_of_openings}}
        </td>
        <td>
          {{job.job_notes}}
        </td>
        <td>
          <button mat-raised-button color="warn" (click)="onDelete(job.id)">Delete</button>
        </td>
        <td>
          <button mat-raised-button [routerLink]="[job.id]">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<router-outlet></router-outlet>
